

.theme-default-content code
  font-size 1em
  color #141c24
  background-color $accentHighlightColor
  padding 0.2em 0.25em 0.1em 0.25em
  letter-spacing 0.06875em
  white-space nowrap

.footnotes
  font-size 0.9rem