

.theme-default-content code
  font-size 1em
  color #141c24
  background-color $accentHighlightColor
  padding 0.2em 0.25em 0.1em 0.25em
  letter-spacing 0.06875em
  white-space nowrap

.theme-default-content pre code
  white-space pre

.footnotes
  font-size 0.9rem

.theme-default-content:not(.custom) img {
    display: block
    max-width: 90%
    margin: 0 auto
}

.custom-block
  padding: 0.1rem 1.5rem
  border-left-width: 0.5rem
  border-left-style: solid
  margin: 1rem 0
  &.definition
    background-color: #fcf5f5
    border-color: $accentColor
@media (max-width: $MQMobile)
  .theme-default-content:not(.custom) img
    max-width: 100%
